@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
html,button{
    font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
html, body, div {
    padding: 0;
    margin: 0;
}

#menu {
    background: #cccccc;
    position: sticky;
    top: 0;
}

#menu div {
    display: inline-block;
    width: 7em;
    text-align: center;
    padding: 0.4em 0;
}

#logo {
    background: #777;
    color: #fff;
}

#headImage {
    height: 300px;
    background: #fdd;
    text-align: center;
    background-image: url(./Assets/headImage.png);
    background-size: cover;
    background-position: center;
}
#headImage div{
    background: rgba(255,255,255,0.4);
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}
.container h2{
    text-align: center;
}

#footer {
    background: #444;
    text-align: center;
    padding: 70px 0;
    color: #fff;
}
#container-3{
    text-align: center;
    padding: 100px 0;
}
#nyugaku-text{
    font-size: 130%;
    font-weight: bold;
}
#nyugaku-button{
    display: inline-block;
    background:#3366aa;
    font-size: 110%;
    font-weight: bold;
    border: none;
    padding: 0.6em 2em;
    margin-top: 1em;
    color: #eef;
    border-radius: 4px;
    text-decoration: none;
}
.container{
    padding: 5rem 1rem;
}
.image-list{
    padding: 10px 0 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.image-list img{
    width: 250px;
    margin-bottom: 1rem;
}